:root {
    --primary-color: #ff0aa7;
  }
body{
    margin: 0;
    font-family: Roboto; 
  }
  .wrapper{
    max-width: 960px;
    margin: 0 auto;
  }
  h1{
    margin: 40px auto;
    color: var(--primary-color);
    text-align: center;
  }
  ul{
    padding: 0;
    list-style-type: none;
  }
  li{
    padding: 6px 10px;
    border: 1px solid #eee;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  li h4{
    color: var(--primary-color);
    margin: 0;
    text-transform: capitalize;
  }
  li p{
    color: #333;
    margin: 8px 0 0;
  }
  footer{
    background: #eee;
    padding: 60px;
    margin-top: 60px;
  }
  form{
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
  }
  label{
    display: block;
    font-weight: bold;
    font-size: 0.8em;
    color: #333;
    margin: 16px 0 6px;
  }
  input, select{
    padding: 6px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
  }
  .field{
    display: inline-block;
    margin: 0 10px;
  }
  button{
    color: white;
    border: 0;
    background: var(--primary-color);
    padding: 6px;
    min-width: 80px;
    border-radius: 4px;
  }
  footer a{
    text-align: center;
    display: block;
    color: #999;
    margin-top: 40px;
    font-size: 0.7em;
  }
  .alert{
    background: #fc5d72;
    color: white;
    padding: 6px;
    height: 70px;
    width: 100%;
    border-radius: 4px;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }
  .d-none {
    display: none;
  }
  .delete::before {
    font-family: "Font Awesome 5 Free"; 
	font-weight: 900;
	content: "\f1f8";
    cursor: pointer;
    color : #fd2600;
}